<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/experiences.css"/>
</head>
<body>
<header>
            <!-- Including the navbar partial -->
            <%- include('partials/navbar.ejs') %>
        </header>
        <div class="jumbotron jumbotron-fluid bg-primary text-white">
            <div class="container">
                <h1 class="display-4">Discover Experiences</h1>
                <p class="lead">Find and book the best experiences around the world.</p>
            </div>
        </div>
        <section class="hero text-center my-5">
            <h2 class="display-4">Experience Browser</h2>            
        </section>
        <section>
        <input type="text" id="search" placeholder="Search Region">
        <button onclick="search()" class="btn-primary">Search</button>
        </section>
<div class="table-container">
<table class="table table-bordered table-striped table-hover">
    <thead class="thead-dark">
        <tr>            
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Country</th>
            <th scope="col">Region</th>
            <th scope="col">Longitude</th>
            <th scope="col">Latitude</th>
            <th scope="col">Description</th>
            <th scope="col">Bookings</th>
            <th scope="col" class="text-end">Actions</th> 
           
        </tr>
    </thead>

    <tbody>
        <% activities.forEach((activity) => { %>
        <tr>
            <td><%= activity.exp_name %></td>
            <td><%= activity.exp_type %></td>
            <td><%= activity.country %></td>
            <td><%= activity.region %></td>
            <td><%= activity.lon %></td>
            <td><%= activity.lat %></td>
            <td><%= activity.exp_description %></td>
            <td><%= activity.bookings %></td>
            <td>
                <form id="bookForm" data-activity-id="<%= activity.id %>">
                    <button type="submit" onclick="bookingActivity(this)" class="btn-primary">Book</button>
                </form>
            </td>
        </tr>
        <% }); %>
    </tbody>
</table>
</div>


 <!-- Including the footer partial -->
        <%- include('partials/footer.ejs') %>
 <!-- Scripts -->


 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 <script src="/js/experiences.js"></script>
</body>
</html>